<div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-12 col-md-12 sol-sm-12">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Enter Name" formControlName="name" required>
            <div class="alert-danger" *ngIf="!productForm.controls['name'].valid && (productForm.controls['name'].touched)">
               Name is required.
            </div>
          </div>

          <div class="form-group">
            <label>description</label>
            <input type="text" class="form-control" placeholder="Description" formControlName="description" required>
            <div class="alert-danger" *ngIf="!productForm.controls['description'].valid && (productForm.controls['description'].touched)">
                Description is required.
             </div>
         </div>

          <div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control" placeholder="price" formControlName="price" required>
            <div class="alert-danger" *ngIf="!productForm.controls['price'].valid && (productForm.controls['price'].touched)">
                Price is required.
            </div>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Submit</button>
        </form>
      </div>
    </div>
  </div>