<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12">
            <table class="table-striped">
                <tr>
                    <td>Name</td>
                    <td>{{productData['name']}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{productData['description']}}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{productData['price']}}</td>
                </tr>
            </table>
        </div>
        <button class="btn btn-warning" (click)="backToList('')">Go Back</button>
    </div>
</div>