<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12">
            <form [formGroup]="productForm" (ngSubmit)="updataData(productForm.value)">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" placeholder="Enter Name" formControlName="name" required>
                    <div class="alert-danger" *ngIf="!productForm.controls['name'].valid && (productForm.controls['name].touched">
                        Name is Required
                    </div>
                    <div class="form-group">
                        <label for="descripton"></label>
                        <input type="text" class="form-control" placeholder="Enter Description" formContrlName="description" required>
                        <div class="alert-danger" *ngIf="!productForm.controls['description'].valid && (productForm.controls['description'].touched">
                            Description is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price"></label>
                        <input type="text" class="form-control" placeholder="Enter Price" formControlName="price" required>
                        <div class="alert-danger" *ngIf="!productForm.controls['price'].valid && (productForm.controls['price'].touched)">
                            Price is required
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" [disabled]="!productForm.valid">Submit</button>
            </form>
        </div>
    </div>
</div>