<div class="container">
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12">
            <div class="btn btn-success" (click)="selectedProduct('create','')">Add New Product</div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12">
           <table class="table table-striped">
               <thead>
                   <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Action</th>
                   </tr>
               </thead>
               <tbody>
                   <tr *ngFor="let product of products">
                        <td>{{product.name}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.price}}</td>
                        <td>
                            <button class="btn btn-warning" (click)="getDetails(product.id)">View</button>
                            <button class="btn btn-success" (click)="updateDetails('update')" >Update</button>
                            <button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
                        </td>
                   </tr>
               </tbody>
           </table>
        </div>
    </div>
</div>
